* {
	margin: 1px;
	text-align: center;
	background-color: lightgreen;
	padding: 0;
	border: 1px solid black;
}

body {
	justify-content: center;
	align-items: center;
	height: 100vh;
}

img {
	display: inline-block;
	width: 50px;
}

a {
	color: black;
	/* 링크의 기본 색깔 */
	text-decoration: none;
	/* 밑줄 제거 */
	transition: color 0.3s;
	/* 색깔 변경에 애니메이션 효과를 줍니다. */
	cursor: pointer;
	margin: 0;
	padding: 0;
}

table tr td {
	border: 1px solid black;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

td a img {
	width: 40px;
	height: 40px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.strong {
	align-items: center; /*수직 중앙 정렬 */
	justify-content: center; /*수평 중앙 정렬 */
}
/* ====================== ex페이지 css ====================== */
.l-container {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.width33 {
	width: 33%;
}

.width67 {
	width: 67%;
}

.width100 {
	width: 100%;
	display: flex;
	list-style: none; /* 기본 목록 스타일 제거 */
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none; /* 왼쪽으로 정렬 */
}

.width100 li {
	flex: 0 1 calc(16.6667% - 10px); /* 6개의 아이템이 가로로 꽉 차게 나열되도록 설정 */
	box-sizing: border-box; /* 여백을 포함한 크기로 요소를 계산하도록 설정 */
	margin: 0 5px 0 0;
	text-align: center;
}

.width100 li img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.set {
	text-align: center;
	font-size: 0.8em;
	cursor: pointer;
}

.po {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}

.flex {
	display: flex;
}

/* ====================== ex페이지 css ====================== */
/* ====================== exch페이지 css ====================== */
.container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.head-container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.tab-container {
	display: flex;
	flex-direction: column;
	/* 세로로 배치 */
	width: 200px;
	/* 전체 탭 메뉴의 너비 */
}

.tab {
	/* 	padding: 50px; */
	cursor: pointer;
	width: 100%;
	height: 100%;
	/* 탭의 너비를 100%로 설정하여 부모의 너비에 맞춤 */
	box-sizing: border-box;
}

.tab-content {
	padding: 10px;
	display: none;
	width: 100%;
	/* 탭 내용의 너비를 100%로 설정하여 부모의 너비에 맞춤 */
	box-sizing: border-box;
	/* padding과 border를 포함하여 크기 계산 */
}

/* 첫 번째 탭의 내용은 페이지 로드 시에 보이도록 설정 */
#tab1-content {
	display: block;
}

.tab-flex {
	display: flex;
	width: 100%;
	/* padding: 100px; */
}

.divide {
	width: 100%;
	/* float: left; */
}

.double-divide {
	width: 25%;
}

.left {
	text-align: left;
}

.aaa {
	border-radius: 70%;
	/* 	사진을 둥글게 */
}