@charset "UTF-8";


.lmListT{
	border: 1px solid black;
	text-align: center;
	width: 90%;
	border-collapse: separate;
	border-spacing: 0 5px;
}

.trF>th{
	padding: 1% 0 1% 0;
}

.lmListDiv{
	margin: auto;
	padding: 1% 0 1% 0;
	border: 1px solid black;
	text-align: center;
	width: 99%;
}

.positionImg{
    /*content:url(back.jpg);*/
    width:10%;
    padding-bottom: 10%;
    /*background-image: url("../img/position/Silver-Support.png");*/
    background-size: cover;
}
#poAll{
    background-image: url("../img/position/angle-square-up.png");
}

.poRadio{
	opacity: 0;
}
.poRadio:checked + label{
	filter: invert(100%) sepia(0%) saturate(707%) hue-rotate(206deg) brightness(86%) contrast(92%);
}