@charset "UTF-8";


.lmListT{
	border: 1px solid black;
	text-align: center;
	width: 90%;
	border-collapse: separate;
	border-spacing: 0 5px;
}

.trF>th{
	padding: 1% 0 1% 0;
}

.lmListDiv{
	margin: auto;
	padding: 1% 0 1% 0;
	border: 1px solid black;
	text-align: center;
	width: 99%;
}

.positionImg{
	float: left;
}

.positionImg{
    width:30px;
    padding-bottom: 30px;
    background-size: cover;
}
#poAll{
    background-image: url("../img/position/angle-square-up.png");
}
label{
	display: inline-block;
}
.poRadio{
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}
