@charset "UTF-8";

input[disabled] {
    background-color: #fff;
}


#lmInfoTab{
	display: none;
}


.lmListT{
	border: 1px solid black;
	text-align: center;
	width: 90%;
	border-collapse: separate;
	border-spacing: 0 5px;
}

.trF>th{
	padding: 1% 0 1% 0;
}

.lmListDiv{
	margin: auto;
	margin-top: 1%;
	padding: 1% 0 1% 0;
	border: 1px solid black;
	text-align: center;
	width: 99%;
}

.positionImg{
	float: left;
    width:30px;
    padding-bottom: 30px;
    background-size: cover;
}
label{
	display: inline-block;
}
.poRadio,.myPoRadio,.findPoRadio{
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}


/* ============컨테이너 설정=========== */
.tooltipImgDiv{
	justify-content:center;
	flex-direction: row;
	text-align: center;
}
.tooltipImgDiv2{
	flex-direction: column;
	margin-left: auto;
	text-align: center;
}
/* 툴팁 기본 스타일 설정 시작 */
.tooltip { position: relative;	display: #1E2328; }
.tooltip .tooltiptext {
	text-align: center;
	visibility: hidden;
	width: 120px;
	background-color: #1E2328;
	color: #C89B3C;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext { visibility: visible; }
/* 아래쪽 툴팁 시작 */
.tooltip .tooltip-bottom {
	width: 100px;
	top: 130%;
	left: 80%;
	margin-left: -60px;
}
.tooltip .tooltip-bottom::after {
	bottom: 100%;
	left: 80%;
	margin-left: -5px;
	border-color: transparent transparent #1E2328 transparent;
}
.tooltip .tooltip-right {
	width: 350px;
	padding: 10px;
	top: -5px;
	left: 160%;
	margin-left: -60px;
}
.tooltip .tooltip-right::after {
	bottom: 100%;
	left: 105%;
	margin-left: -5px;
	border-color: transparent transparent #1E2328 transparent;
}



.pAll,.Top,.Jungle,.Mid,.Support,.Bot,.img{
	width: 30px;
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size : cover;
	display: inline-block;
}
.pAll{ background-image: url('../img/position/Diamond-pAll.png'); }
.Top{ background-image: url('../img/position/Silver-Top.png'); }
.Jungle{ background-image: url('../img/position/Silver-Jungle.png'); }
.Mid{ background-image: url('../img/position/Silver-Mid.png'); }
.Support{ background-image: url('../img/position/Silver-Support.png'); }
.Bot{ background-image: url('../img/position/Silver-Bot.png'); }

.npAll{ background-image: url('../img/position/Silver-pAll.png'); }
.selTop{ background-image: url('../img/position/Diamond-Top.png'); }
.selJungle{ background-image: url('../img/position/Diamond-Jungle.png'); }
.selMid{ background-image: url('../img/position/Diamond-Mid.png'); }
.selSupport{ background-image: url('../img/position/Diamond-Support.png'); }
.selBot{ background-image: url('../img/position/Diamond-Bot.png'); }

.lmTabChoice{
	width: 400px;
	height: 50px;
	text-align: left;
	vertical-align: middle;
}
.lmTabChoice div{
	width: 30%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
}
#lmListChoice{
	background-color: olive;
}
#lmInfoChoice{
	/* display: none; */
	background-color: teal;
}

#lmNotionDiv{
	width: 100%;
	height: 30%;
	line-height: 30px;
	padding: 20px;
	background-color: aqua;
	text-align: center;
}
#lmNotionDiv h3,h2{
	display: inline-block;
	margin: 0;
}
#lmNotionDiv p{
	margin: 0;
	margin-top: 5px;
}

.lmWrite_h5{
	margin: 0;
	padding: 0;
}

#mLAppList{
	width:80%;
 	border: 1px solid black;
 	padding: 1% 0 1% 0;
 	margin: auto;
 	text-align: center;
}

#lmDMContent2{
	margin: auto;
}


.floatLeft{
	float: left;
	padding: 0 10%;
}



#chat-div{
	overflow: auto;
/* 	text-align: center; */
	padding: auto;
	width: 100%;
	height: 200px;
}

.myAppendChat>div{
	right: 10px;
	text-align: right;
 	background-color: #005A82;
 	color: #A09B8C;
 	display: inline-block;
/*  	position: absolute; */
 	margin-left: 35%;
}
.appAppendChat>div{
	left: 10px;
	text-align: left;
 	background-color: #3C3C41;
 	color: #A09B8C;
 	margin-right: 30%;
}
.myAppendChat>div,.appAppendChat>div{
 	padding: 2%;
 	border: 1px solid black;
 	height: 90%;
 	width: 60%;
}
.myAppendChat>h5{
	text-align: right;
	margin: 0 auto;
	margin-right: 15px;
}
.appAppendChat>h5{
	text-align: left;
	margin: 0 auto;
	margin-left: 10px;
}

#chat-box{
	position: absolute;
	bottom: 0;
	width: 95%;
	margin: 2% auto;
}
#chat-box > textarea {
	resize: none;
	height: 60px;
	width: 98%;
	background-color: #1E2328;
	color: #C89B3C;
	font-size: 1.2em;
	padding: 10px;
	overflow-y: auto;
}
#chat-box > button {
	position: absolute;
	height: 55px;
	width: 6%;
	top: 13px;
	right: 5px;
}
#chat-backBtn{
/* 	position: absolute; */
	height: 30px;
	width: 30px;
	top: 10px;
	left: 5px;
	margin: 5px;
}
.textDiv{
	margin: auto;
	text-align: center;
}

#lmAppList{
	overflow: auto;
/* 	text-align: center; */
	padding: auto;
	width: 100%;
	height: 250px;
}
.lmAppDiv{
	border: 1px solid black;
	background-color: #1E2328;
	color: #C89B3C;
	height: 50px;
	align-items: center;
	display: flex;
}
.lmAppDiv > h5{
	text-align: right;
	color: #C8AA6E;
	bottom: 0;
	margin: 0 auto;
    margin-right: 3%;
}
.lmAppDiv > div{
	float: left;
	text-align: center;
	font-size: 1.4em;
	margin-right: 80px;
	padding-left: 20px;
}
#lmCDBtnDiv > button{
	float: right;
	margin-right: 10px;
}






