<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/exstyle.css">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 	<ul class="width100"> -->
<!-- 		<div th:each="champion : ${cdivst}"><a -->
<!-- 			th:href="@{/ex/{championName}(championName=${champion['championName']})}"> -->
<!-- 				<img -->
<!-- 				th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion['championName']}.png|" -->
<!-- 				alt="초상화"> -->
<!-- 		</a></div> -->
<!-- 	</ul> -->
<!-- 	<div th:each="stat : ${cdivst}"> -->
<!-- 		<div th:text="${stat['championName_kr']}"></div> -->
<!-- 	</div> -->

<!-- combinedData 맵의 cdivst 키에 대한 순회 -->
<div>
<span> 
<span th:each="champion : ${cList}">
    <div th:text="'한국어 : ' + ${champion['championName']} + ' ---- 영어 : ' + ${champion['championName_kr']}">Fallback Text</div>
</span>
</span>

<span>
<span th:each="champion : ${linePicks}">
    라인: <span th:text="${champion['teamPosition']} + ${champion['pickrate']}">라인</span> ----
</span>
</span>
</div>



<!-- combinedData 맵의 divnePickdivst 키에 대한 순회 -->
<!-- <div th:each="linePick : ${linePicks}"> -->
    <!-- divnePick에 대한 출력 필드는 적절히 수정 -->
<!--     <span th:text="${linePicks['teamPosition']}"></span> -->
<!-- </div> -->


</body>
</html>