<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<th:block th:if="${champDto != null}">
<!--			<div th:text=|"${champDto.tier1}티어"|></div>-->
		<!--	<div th:text="|${champDto.teamPosition}에서 ${champDto.championName}|"></div>-->
		<div
			th:text="|${champDto.tier1}티어 ${champDto.championName_KR} 승률: ${champDto.win_percentage}% 픽률 :${champDto.pick_percentage}% 밴률:${champDto.ban_percentage}%|">
		</div>
		<div>
			<img th:src = "{champDto.teamPosition == 'Top' ? './img/position/Silver-Top.png' : 
							(champDto.teamPosition == 'Jungle' ? '정글' : 
							(champDto.teamPosition == 'Middle' ? '미드' : 
							(champDto.teamPosition == 'Bottom' ? '원딜' : 
							(champDto.teamPosition == 'UTILITY' ? '서폿' : champDto.teamPosition))))}">
<!--			th:text="|${champDto.teamPosition == 'Top' ? 'img/position/Silver-Top.png' : (champDto.teamPosition == 'Jungle' ? '정글' : (champDto.teamPosition == 'Middle' ? '미드' : (champDto.teamPosition == 'Bottom' ? '원딜' : (champDto.teamPosition == 'UTILITY' ? '서폿' : champDto.teamPosition))))}라인|">-->
		</div>




		<table border="3" align="center">
			<thead>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>14</td>
					<td>채택수</td>
					<td>채택률</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p
							th:text="${champDto.value1 == '1' ? 'q' : (champDto.value1 == '2' ? 'w' : (champDto.value1 == '3' ? 'e' : (champDto.value1 == '4' ? 'r' : champDto.value1)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value2 == '1' ? 'q' : (champDto.value2 == '2' ? 'w' : (champDto.value2 == '3' ? 'e' : (champDto.value2 == '4' ? 'r' : champDto.value2)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value3 == '1' ? 'q' : (champDto.value3 == '2' ? 'w' : (champDto.value3 == '3' ? 'e' : (champDto.value3 == '4' ? 'r' : champDto.value3)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value4 == '1' ? 'q' : (champDto.value4 == '2' ? 'w' : (champDto.value4 == '3' ? 'e' : (champDto.value4 == '4' ? 'r' : champDto.value4)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value5 == '1' ? 'q' : (champDto.value5 == '2' ? 'w' : (champDto.value5 == '3' ? 'e' : (champDto.value5 == '4' ? 'r' : champDto.value5)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value6 == '1' ? 'q' : (champDto.value6 == '2' ? 'w' : (champDto.value6 == '3' ? 'e' : (champDto.value6 == '4' ? 'r' : champDto.value6)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value7 == '1' ? 'q' : (champDto.value7 == '2' ? 'w' : (champDto.value7 == '3' ? 'e' : (champDto.value7 == '4' ? 'r' : champDto.value7)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value8 == '1' ? 'q' : (champDto.value8 == '2' ? 'w' : (champDto.value8 == '3' ? 'e' : (champDto.value8 == '4' ? 'r' : champDto.value8)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value9 == '1' ? 'q' : (champDto.value9 == '2' ? 'w' : (champDto.value9 == '3' ? 'e' : (champDto.value9 == '4' ? 'r' : champDto.value9)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value10 == '1' ? 'q' : (champDto.value10 == '2' ? 'w' : (champDto.value10 == '3' ? 'e' : (champDto.value10 == '4' ? 'r' : champDto.value10)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value11 == '1' ? 'q' : (champDto.value11 == '2' ? 'w' : (champDto.value11 == '3' ? 'e' : (champDto.value11 == '4' ? 'r' : champDto.value11)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value12 == '1' ? 'q' : (champDto.value12 == '2' ? 'w' : (champDto.value12 == '3' ? 'e' : (champDto.value12 == '4' ? 'r' : champDto.value12)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value13 == '1' ? 'q' : (champDto.value13 == '2' ? 'w' : (champDto.value13 == '3' ? 'e' : (champDto.value13 == '4' ? 'r' : champDto.value13)))}">
						</p>
					</td>
					<td>
						<p
							th:text="${champDto.value14 == '1' ? 'q' : (champDto.value14 == '2' ? 'w' : (champDto.value14 == '3' ? 'e' : (champDto.value14 == '4' ? 'r' : champDto.value14)))}">
						</p>
					</td>
					<td>
						<p th:text="|${champDto.skill_count}게임|"></p>
					</td>
					<td>
						<p th:text="|${champDto.skill_percentage}%|"></p>
					</td>
				</tr>
			</tbody>
		</table>
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perkStyle/' + ${champDto.main_name} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<br>
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks3} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks4} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<br>
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perkStyle/' + ${champDto.sub_name} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<br>
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.sub_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.sub_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<br>
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">
		<img
			th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks3} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}">


		<br>
		<div
			th:text="|채택 수 : ${champDto.rune_count}회 픽률: ${champDto.rune_percentage}% 승률 :${champDto.rune_win_percentage}%|">
		</div>
<!--		<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.3.1/img/item/'+ ${champDto.item6} +'.png'}">-->

		<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.3.1/img/item/'+ ${champDto.core1} +'.png'}">
		<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.3.1/img/item/'+ ${champDto.core2} +'.png'}">
		<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.3.1/img/item/'+ ${champDto.core3} +'.png'}">
		<div
			th:text="|채택 수 : ${champDto.item_count}회 픽률: ${champDto.item_percentage}% 승률 :${champDto.item_win_percentage}%|">
		</div>
		<br>
		<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.3.1/img/item/'+ ${champDto.shoes} +'.png'}">
		<div
			th:text="|채택 수 : ${champDto.shoes_count}회 픽률: ${champDto.shoes_pickRate}% 승률 :${champDto.shoes_win_percentage}%|">
		</div>

	</th:block>



</body>

</html>