<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/exstyle.css">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<div class="l-container">
        <div th:insert="~{exch :: header}"></div>
        <div th:insert="~{exch :: nav}"></div>
        <div>
            <div class="width33">
                <div th:insert="~{exch :: nav}"></div>
                <span>
                	<label><input type="radio" value="all" name="aa" class="po" checked="checked">전체</label>
                	<label><input type="radio" value="top" name="aa" class="po">탑</label>
                	<label><input type="radio" value="jug" name="aa" class="po">정글</label>
                	<label><input type="radio" value="mid" name="aa" class="po">미드</label>
                	<label><input type="radio" value="adc" name="aa" class="po">원딜</label>
                	<label><input type="radio" value="sup" name="aa" class="po">서폿</label>
                </span>
			</div>
            <div id="test">
                <ul class="width33">
                    <li th:each="champion : ${champions}">
                        <a th:href="@{/ex/{champions}(champions=${champion.champion_name})}">
                            <img th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion.champion_name}.png|"
                                alt="초상화">
                            <div th:utext="${#strings.length(champion.champion_name_kr) > 3 ? champion.champion_name_kr.substring(0, 3) + '...' : champion.champion_name_kr}" class="set"></div>
              	        </a>
             	   </li>
           		</ul>
            </div>
        </div>
    </div>
    	<script type="text/javascript" src="/js/ex.js"></script>
</body>
</html>