<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/exstyle.css">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="l-container">
        <div th:insert="~{exch :: header}"></div>
        <nav><input type="text" placeholder="챔피언 검색"></nav>
        <div>
            <div class="flex" id="topbar">
                <span class="width33">
                    <input type="text" placeholder="챔피언 검색"><br>
                    <span>
                        <label><input type="radio" value="all" name="aa" class="po" checked="checked">전체</label>
                        <label><input type="radio" value="top" name="aa" class="po">탑</label>
                        <label><input type="radio" value="jug" name="aa" class="po">정글</label>
                        <label><input type="radio" value="mid" name="aa" class="po">미드</label>
                        <label><input type="radio" value="adc" name="aa" class="po">원딜</label>
                        <label><input type="radio" value="sup" name="aa" class="po">서폿</label>
                    </span>
                </span>
                <span class="width67">티어 포지션 승 픽 밴 카운터</span>
            </div>
            <div class="flex" id="main" style="background-color: red">
                <div id="test" class="width33">
                    <ul class="width100">
                        <li th:each="champion : ${champions}">
                            <a th:href="@{/ex/{champions}(champions=${champion.champion_name})}">
                                <img th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion.champion_name}.png|"
                                    alt="초상화">
                            </a>
                            <div th:utext="${#strings.length(champion.champion_name_kr) > 3 ? champion.champion_name_kr.substring(0, 3) + '...' : champion.champion_name_kr}" class="set"></div>
    	                </li>
        	        </ul>
                </div>
				<div class="width67">
					<div>전체</div>
					<div>탑</div>
					<div>정글</div>
					<div>미드</div>
					<div>바텀</div>
					<div>서포터</div>
				</div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/ex.js"></script> <!-- 라인별 챔피언 스크립트 -->
</body>
</html>