<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/exstyle.css">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="head-container">
        <header class="insert">
        	<div th:insert="~{header :: h1}" class="logo">로고</div>
        	<div th:insert="~{header :: ul}">헤더</div>
        </header>
        <span>탑 정글 미드 바텀 유틸</span><span>탑 정글 미드 바텀 유틸</span>
        <header style="display: flex; justify-content: center">
            <label>티어</label>
            <div th:insert="~{ex :: select}"></div>
            <span>
                <a th:href="@{/counter}">카운터</a>
                <a th:href="@{/exrune}">룬</a>
                <a th:href="@{/item}">아이템</a>
                <a th:href="@{/skill}">스킬</a>
            </span>
        </header>
    </div>
    <div class="container">
        <div>
            <div>
                <img th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${championName}.png|" alt="초상화">
            </div>
            <div>스킬 설명 및 영상</div>
        </div>
        <!-- 탭 메뉴 시작 -->
        <div class="tab-container">
            <div class="tab" onclick="showTab('tab1')">
<!--                 <div th:each="champion, index : ${linePick}"> -->
<!--                     <p th:text="${matchInfo.teamPosition}" th:if="${index.index == 0}">line1</p> -->
<!--                     <p th:text="'픽률&#160;' + ${matchInfo.linePick}" th:if="${index.index == 0}">pickRate1</p> -->
<!--                 </div> -->
            </div>
            <div class="tab" onclick="showTab('tab2')">
<!--                 <div th:each="matchInfo, index : ${linePick}"> -->
<!--                     <p th:text="${matchInfo.teamPosition}" th:if="${index.index == 1}">line2</p> -->
<!--                     <p th:text="'픽률&#160;' + ${matchInfo.linePick}" th:if="${index.index == 1}">pickRate2</p> -->
<!--                 </div> -->
            </div>
            <div class="tab" onclick="showTab('tab3')">
<!--                 <div th:each="matchInfo, index : ${linePick}"> -->
<!--                     <p th:text="${matchInfo.teamPosition}" th:if="${index.index == 2}">line3</p> -->
<!--                     <p th:text="'픽률&#160;' + ${matchInfo.linePick}" th:if="${index.index == 2}">pickRate3</p> -->
<!--                 </div> -->
            </div>
        </div>
        <!-- 탭 메뉴 끝 -->
		<div class="double-divide">
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perkStyle/' + ${champDto.main_name} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<br> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks3} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.main_perks4} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<br> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perkStyle/' + ${champDto.sub_name} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<br> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.sub_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/14.3.1/perk/' + ${champDto.sub_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<br> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks1} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks2} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
<!-- 		<img th:src="@{'https://opgg-static.akamaized.net/meta/images/lol/perkShard/' + ${champDto.stat_perks3} + '.png?image=q_auto,f_png,w_64,h_64&v=1707283412529'}"> -->
		</div>
		
        <!-- 탭 1내용 시작 -->
        <div id="tab1-content" class="tab-content">
            <div class="divide">
                <div class="tab-flex">
                    <div class="divide">1스킬빌드<br>1-2-3코어</div>
                    <div class="divide">승률<br>00.0%</div>
                    <div class="divide">픽률<br>00.0%</div>
                    <div class="divide">밴률<br>00.0%</div>
                </div>
                <div class="tab-flex">
                    <div class="divide">1아이템빌드<br>1-2-3코어</div>
                    <div class="divide">
                        승률<br>00.0%
                    </div>
                    <div class="divide">
                        픽률<br>00.0%
                    </div>
                    <div class="divide">
                        밴률<br>00.0%
                    </div>
                </div>
                <div class="tab-flex">
                    <div class="divide">스펠</div>
                    <div class="divide">카운터</div>
                </div>
                <div class="tab-flex">
					<div class="divide">
                        <img src=".././img/spell/Ignite.webp" alt="스펠1">
                        <img src=".././img/spell/Flash.webp" alt="스펠2"><br>
                        00.0% 00.0%
                    </div>
                    <div th:each="champion, Index : ${counter}" class="tab-flex" th:if="${Index.index < 3}">
                        <div class="divide" style="font-size: 10px;">
                            <img th:src="@{|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion['enemy_champ_en']}.png|}" alt="초상화">
                            <div th:text="|${champion['win_rate']}%|">승률</div>
                            <div th:text="|${champion['win_count']}게임|">게임수</div>
                            <div>상대법</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 탭1 내용 끝 -->
        <!-- 탭2 내용 시작 -->
        <div id="tab2-content" class="tab-content">
            <div class="divide">
                <div class="tab-flex">
                    <div class="divide">2스킬빌드<br>1-2-3코어</div>
                    <div class="divide">승률<br>00.0%</div>
                    <div class="divide">픽률<br>00.0%</div>
                    <div class="divide">밴률<br>00.0%</div>
                </div>
                <div class="tab-flex">
                    <div class="divide">2아이템빌드<br>1-2-3코어</div>
                    <div class="divide">
                        승률<br>00.0%
                    </div>
                    <div class="divide">
                        픽률<br>00.0%
                    </div>
                    <div class="divide">
                        밴률<br>00.0%
                    </div>
                </div>
                <div class="tab-flex">
                    <div class="divide">스펠</div>
                    <div class="divide">카운터</div>
                </div>
                <div class="tab-flex">
                    <div class="tab-flex">
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                    </div>
                    <div class="divide">
                        <img src="./img/Ignite.webp" alt="스펠1">
                        <img src="./img/Flash.webp" alt="스펠2"><br>
                        00.0% 00.0%
                    </div>
                </div>
            </div>
        </div>

        <!-- 탭2 내용 끝 -->
        <!-- 탭3 내용 시작 -->
        <div id="tab3-content" class="tab-content">
            <div class="divide">
                <div class="tab-flex">
                    <div class="divide">3스킬빌드<br>1-2-3코어</div>
                    <div class="divide">승률<br>00.0%</div>
                    <div class="divide">픽률<br>00.0%</div>
                    <div class="divide">밴률<br>00.0%</div>
                </div>
                <div class="tab-flex">
                    <div class="divide">3아이템빌드<br>1-2-3코어</div>
                    <div class="divide">
                        승률<br>00.0%
                    </div>
                    <div class="divide">
                        픽률<br>00.0%
                    </div>
                    <div class="divide">
                        밴률<br>00.0%
                    </div>
                </div>
                <div class="tab-flex">
                    <div class="divide">카운터</div>
                    <div class="divide">스펠</div>
                </div>
                <div class="tab-flex">
                    <div class="tab-flex">
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                        <div class="divide">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png"><br>
                            00.0%(승률)<br>
                            상대법
                        </div>
                    </div>
                    <div class="divide">
                        <img src="./img/Ignite.webp" alt="스펠1">
                        <img src="./img/Flash.webp" alt="스펠2"><br>
                        00.0% 00.0%
                    </div>
                </div>
            </div>
        </div>
        <!-- 탭3 내용 끝 -->
        
    </div>
</body>
<script>
    function showTab(tabId) {
        // 모든 탭의 내용을 감춤
        document.querySelectorAll('.tab-content').forEach(function (tabContent) {
            tabContent.style.display = 'none';
        });
        // 선택한 탭의 내용을 보이게 함
        document.getElementById(tabId + '-content').style.display = 'block';
    }
</script>

</html>