<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LOL mate</title>
<!-- jquery -->
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="/css/lolmate.css">
</head>
<body>
	<!-- https://appsnuri.tistory.com/405 나중에 이거 적용할것 -->
	<div class="allBigBox">
		
		<h3>LOL-mate</h3>
		
		<div>
			내용 들어갈 예정
		</div> <br>
		
		<div>
			<div class="serchMateDiv">
				<label><input type="radio" name="lm_gameMate" value="0" checked="checked">듀오</label>
				<label><input type="radio" name="lm_gameMate" value="1">멘토</label>
				<select name="lm_gameMode">
				  <option value="soloRank" selected="selected">솔로랭크</option> 
				  <option value="teamRank">자유랭크</option> 
				  <option value="quickMatch">빠른대전</option> 
				  <option value="aram">칼바람</option> 
				</select>
				<select name="lm_tier">
					<option value="All">전체 티어</option>
					<option value="Iron">아이언</option>
					<option value="Bronze">브론즈</option>
					<option value="Silver">실버</option>
					<option value="Gold">골드</option>
					<option value="Platinum">플래티넘</option>
					<option value="Emerald">에메랄드</option>
					<option value="Diamond">다이아몬드</option>
					<option value="Master">마스터</option>
					<option value="Grandmaster">그랜드마스터</option>
					<option value="Challenger">챌린저</option>
				</select>
				
				<div class="sePoDiv">
	 				<label class="positionImg" id="pAll">
	 					<input type="radio" class="poRadio" name="lm_findPosition" value="All" id="rpAll" checked="checked"></input>
	 				</label>
	 				<label class="positionImg" id="Top">
	 					<input type="radio" class="poRadio" name="lm_findPosition" value="top" id="rTop"></input>
	 				</label>
	 				<label class="positionImg" id="Mid">
		 				<input type="radio" class="poRadio" name="lm_findPosition" value="mid" id="rMid"></input>
	 				</label>
	 				<label class="positionImg" id="Support">
	 					<input type="radio" class="poRadio" name="lm_findPosition" value="sup" id="rSupport"></input>
	 				</label>
	 				<label class="positionImg" id="Jungle">
	 					<input type="radio" class="poRadio" name="lm_findPosition" value="jug" id="rJungle"></input>
	 				</label>
	 				<label class="positionImg" id="Bot">
	 					<input type="radio" class="poRadio" name="lm_findPosition" value="adc" id="rBot"></input>
	 				</label>
				</div>
			</div>
			<button onclick="popup('find')">듀오/멘토 찾기</button>
			<br>
			
			<table class="lmListT">
				<thead>
					<tr class="trF">
						<th>&ensp;게임모드&ensp;</th>
						<th>&ensp;티어&ensp;</th>
						<th>&ensp;소환사 명&ensp;</th>
						<th>&ensp;주 포지션&ensp;</th>
						<th>&ensp;승률&ensp;</th>
						<th>&ensp;찾는 포지션&ensp;</th>
						<th>&ensp;메모&ensp;</th>
						<th>&ensp;신청&ensp;</th>
					</tr>
				</thead>
				<tbody id="lmTbody">
					<tr>
						<td colspan="8">
							<div class="lmListDiv">글이 존재하지 않습니다.</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	
	<!-- 기본 js -->
	<script type="text/javascript" src="/js/lolmate.js"></script>
</body>
</html>