<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LOL mate</title>
<link rel="stylesheet" href="/css/lolmate.css">
</head>
<body>
	<!-- https://appsnuri.tistory.com/405 나중에 이거 적용할것 -->
	<div class="allBigBox">
		
		<h3>LOL-mate</h3>
		
		<div>
			내용 들어갈 예정
		</div>
		
		<div>
			<div class="serchMateDiv">
				<label><input type="radio" name="lm_gameMate" value="0" checked="checked">듀오</label>
				<label><input type="radio" name="lm_gameMate" value="1">멘토</label>
				<select>
				  <option value="soloRank" selected="selected">솔로랭크</option> 
				  <option value="teamRank">자유랭크</option> 
				  <option value="quickMatch">빠른대전</option> 
				  <option value="aram">칼바람</option> 
				</select>
				<select>
					<option value="all">전체 티어</option>
					<option value="iron">아이언</option>
				</select>
			</div>
			
			<table class="lmListT">
				<tr class="trF">
					<th>&ensp;게임모드&ensp;</th>
					<th>&ensp;티어&ensp;</th>
					<th>&ensp;소환사 명&ensp;</th>
					<th>&ensp;주 포지션&ensp;</th>
					<th>&ensp;승률&ensp;</th>
					<th>&ensp;찾는 포지션&ensp;</th>
					<th>&ensp;메모&ensp;</th>
					<th>&ensp;신청 버튼(글씨없애고자리차지하게할것)&ensp;</th>
				</tr>
				
				<th:block th:if="${lmList}==null">
					<tr>
						<td colspan="8" class="tdDiv">
							<div class="lmListDiv">글이 존재하지 않습니다.</div>
						</td>
					</tr>
					<tr><td colspan="8"><div class="lmListDiv">글이 존재하지 않습니다.</div></td></tr>
					<tr><td colspan="8"><div class="lmListDiv">글이 존재하지 않습니다.</div></td></tr>
					<tr><td colspan="8"><div class="lmListDiv">글이 존재하지 않습니다.</div></td></tr>
				</th:block>
				
				<th:block th:if="${lmList}!=null" th:each="lm:${lmList}">
					<tr>
						<td th:text=" ' &ensp; ' + '게임모드' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '티어' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '소환사 명' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '주 포지션' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '승률' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '찾는 포지션' + ' &ensp; '"></td>
						<td th:text=" ' &ensp; ' + '메모' + ' &ensp; '"></td>
						<td><button onclick="alert('할 예정!')">신청</button></td>
					</tr>
				</th:block>
			</table>
		</div>
		
	</div>
	
	<!-- 기본 js -->
	<script type="text/javascript" src="/js/lolmate.js"></script>
</body>
</html>