<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action = "/champ/Rune_winrate" method = "post">
	<input type = "text" name ="championName_KR" placeholder="챔피언 이름" value="이즈리얼">
	<select name ="teamPosition" size="1">
		<option value="Top" selected>탑</option>
		<option value="Jungle" selected>정글</option>
		<option value="Middle" selected>미드</option>
		<option value="Bottom" selected>바텀</option>
		<option value="UTILITY" selected>서폿</option>
	</select>
	<select name ="tier1" size="1">
		<option value="Iron" selected>아이언</option>
		<option value="Bronze" selected>브론즈</option>
		<option value="Silver" selected>실버</option>
		<option value="Gold" selected>골드</option>
		<option value="Platinum" selected>플래티넘</option>
		<option value="에메랄드" selected>에메랄드</option>
		<option value="Diamond" selected>다이아몬드</option>
		<option value="Master" selected>마스터</option>
		<option value="GrandMaster" selected>그랜드마스터</option>
		<option value="Challenger" selected>챌린저</option>
	</select>

	<input type = "submit" value = "룬 검색">
	
</form>
</body>
</html>